<?xml version= "1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "com.py.api.mapper.financeiro.ContaReceberMapper">

	<resultMap id="resultSimples" type="ContaReceber">
		<id property="id" column="ID_CONTA_RECEBER"/>
		<result property="historico" column="HISTORICO"/>
		<result property="nrDocumento" column="NR_DOCUMENTO"/>
		<result property="vlDocumento" column="VL_DOCUMENTO"/>
		<result property="vlJuros" column="VL_JUROS"/>
		<result property="vlDescontos" column="VL_DESCONTOS"/>
		<result property="vlRecebido" column="VL_RECEBIDO"/>
		<result property="vlAReceber" column="VL_ARECEBER"/>
		<result property="vlDevolucao" column="VL_DEVOLUCAO"/>
		<result property="dtCadastro" column="DT_CADASTRO"/>
		<result property="dtEmissao" column="DT_EMISSAO"/>
		<result property="dtVencimento" column="DT_VENCIMENTO"/>
		<result property="situacao" column="SITUACAO"/>
		<result property="avista" column="BO_AVISTA"/>
		<result property="cancelado" column="BO_CANCELADO"/>
		<result property="dtCancelamento" column="DT_CANCELAMENTO"/>
		<result property="responsavelCancelamento" column="RESPONSAVEL_CANCELAMENTO"/>
		
		<association property="pessoa" javaType="Pessoa">
			<id property="id" column="ID_PESSOA" />
			<result property="nome" column="NOME" />
		</association>
		
		<association property="venda" javaType="Venda">
			<id property="id" column="ID_VENDA" />
		</association>
		
		<association property="moeda" javaType="Moeda">
			<id property="id" column="ID_MOEDA" />
			<result property="descricao" column="DS_MOEDA" />
		</association>
		
	</resultMap>

	<resultMap id="result" type="ContaReceber" extends="resultSimples">
		<collection property="itens" ofType="com.py.api.model.entity.Recebimento"
			jdbcType="VARCHAR" javaType="ArrayList"
			select="com.py.api.mapper.financeiro.RecebimentoMapper.findRecebimentosByContaReceber"
			column="{idConta=ID_CONTA_RECEBER}" />
	</resultMap>

	<sql id="sqlDefault">
		SELECT 
		  FIN_CONTA_RECEBER.*,
		  p.NOME,
		  m.DS_MOEDA 
		FROM
		  FIN_CONTA_RECEBER 
		  INNER JOIN bs_pessoa p 
		    ON p.ID_PESSOA = FIN_CONTA_RECEBER.ID_PESSOA 
		  INNER JOIN bs_moeda m 
		    ON m.ID_MOEDA = FIN_CONTA_RECEBER.ID_MOEDA 
	</sql>

	<select id="findByCondition" resultMap="resultSimples"
		parameterType="hashMap">
		<include refid="sqlDefault" />
		WHERE ${condition}
	</select>
	
	<select id="findById" resultMap="result"
		parameterType="hashMap">
		<include refid="sqlDefault" />
		WHERE FIN_CONTA_RECEBER.ID_CONTA_RECEBER = #{idConta}
	</select>

</mapper>