<?xml version= "1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "com.py.api.mapper.financeiro.FormaRecebimentoMapper">

	<resultMap id="resultSimples" type="FormaRecebimento">
		<id property="id" column="ID_FORMA_RECEBIMENTO"/>
		<result property="descricao" column="DS_FORMA_RECEBIMENTO"/>
		<result property="ativo" column="BO_ATIVO"/>
	</resultMap>

	<resultMap id="result" type="FormaRecebimento" extends="resultSimples">
	</resultMap>

	<sql id="sqlDefault">
		SELECT * FROM FIN_FORMA_RECEBIMENTO
	</sql>

	<select id="findByCondition" resultMap="resultSimples"
		parameterType="hashMap">
		<include refid="sqlDefault" />
		WHERE ${condition}
	</select>

</mapper>